<% if @own_property.errors.any? %>
  <%= render 'layouts/flash_errors_explanation', record: @own_property %>
<% end %>

<div class="row mb-3">
  <div class="col-md-6 col-sm-12">
    <%= f.label :operation_type, class: 'form-label' %>
    <%= f.select :operation_type, types_collection, { selected: @own_property.operation_type, include_blank: true }, class: 'form-select' %>
  </div>

  <div class="col-md-6 col-sm-124">
    <%= f.label :community_id, class: 'form-label' %>
    <%= f.select :community_id, communities_collection, { selected: @own_property.community_id, include_blank: true }, class: 'form-select' %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-6 col-sm-12">
    <%= f.label :price, class: 'form-label' %>
    <%= f.number_field :price, class: 'form-control' %>
  </div>

  <div class="col-md-6 col-sm-12">
    <%= f.label :currency, class: 'form-label' %>
    <%= f.select :currency, currencies_collection, { selected: @own_property.currency, include_blank: true }, class: 'form-select' %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <%= f.label :address, class: 'form-label' %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-4 col-sm-12">
    <%= f.label :area, class: 'form-label' %>
    <%= f.number_field :area, class: 'form-control' %>
  </div>

  <div class="col-md-4 col-sm-12">
    <%= f.label :number_of_rooms, class: 'form-label' %>
    <%= f.number_field :number_of_rooms, class: 'form-control' %>
  </div>

  <div class="col-md-4 col-sm-12">
    <%= f.label :number_of_bathrooms, class: 'form-label' %>
    <%= f.number_field :number_of_bathrooms, class: 'form-control' %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <%= f.label :description, class: 'form-label' %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <% @own_property.images.each do |image| %>
      <%= image_tag image.variant(:thumb) %>

      <%= f.hidden_field :images, multiple: true, value: image.signed_id %>
      <br>
    <% end %>

    <%= f.label :images, class: 'form-label' %>
    <%= f.file_field :images, direct_upload: true, multiple: true, class: 'form-control', accept: 'image/png, image/jpg, image/jpeg' %>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <%= f.submit t('save'), class: 'btn btn-primary' %>
  </div>
</div>
